/* Creators - Columns  */

.creators__creator {
    background-color: #3B3B3B;
    width: 100%;
    height: 50px;
    display: flex;
    border-radius: 20px;
    align-items: center;
}

/* ------------------ */

/* swiper */

.swiper {
    max-width: 100%;
    overflow: hidden;
}

/* ------------------------------ */